<div id="compilation" class="hidden">
  <div id="compile_tools_menu">
    <p id="compile_tools_toggle" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span><span id="compile_tools_toggle_text">Hide Tools</span></p>
    <p id="compile_tools_save" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-disk"></span><span>Save</span></p>
    <div id="compile_tools_menu_bak" class="ui-corner-left"></div>
  </div>
  <div id="transparent_background" class="ui-widget-overlay"></div>
  <div id="compile_tools">
    <ul>
      <li><a href="#compile_form">Compile Form</a></li>
      <li><a href="#facts">Page Facts</a></li>
      <div id="compile_tools_buttons">
        <span id="compile_tools_hide" class="ui-icon ui-icon-circle-close" title="Hide"></span>
      </div>
    </ul>
    <div id="compile_form">
      <div id="ref_lookup">
        <div id="ref"></div>
        <div id="ref_lookup_input">
          <%= input_field_tag("link") %><p id="ref_lookup_table_open" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-help"></span></p>
        </div>
      </div>
      <div id="form_buttons">
        <p id="clear_form" class="ui-state-default ui-corner-all"title="Clear form"><span class="ui-icon ui-icon-refresh"></span></p>
        <p id="submit_quote" class="ui-state-default ui-corner-all" title="Submit new quote">Submit</p>
        <div id="form_text"><span>Copy new quote by clicking </span><div id="veda_img" title="copy with ref"></div><span>in Vedabase and paste it here</span></div>
      </div>
      <%= text_area_tag() %>
      <span id="version">ver 2.0.105</span>
    </div>
    <div id="facts" class="facts"></div>
    <div id="ajax"></div>
    <div id="verses"></div>
  </div>
  <div id="warning" class="ui-state-error ui-corner-all"></div>
  <div id="info" class=" ui-state-highlight ui-corner-all"></div>
  <div id="darken"></div>
  <div id="ref_lookup_table">

    <table>
      <tr>
        <td colspan="3">
          <p id="ref_lookup_Books"><span>1.</span>Books</p>
        </td>
      </tr>
      <tr>
        <td>
          <p></p>
        </td>
        <th>
          <p><span>Vedabase reference sample</span></p>
        </th>
        <th>
          <p>Type this for search</p>
        </th>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Bhagavad-gita</p>
        </td>
        <td >
          <p>Bg 3.1</p>
        </td>
        <td >
          <p>BG 3.1</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Bg Preface</p>
        </td>
        <td >
          <p>BG P</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Bg Introduction</p>
        </td>
        <td >
          <p>BG In</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Srimad Bhagavatam</p>
        </td>
        <td >
          <p>SB 5.7.2</p>
        </td>
        <td >
          <p>SB 5.7.2</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>SB 5.7 Summary</p>
        </td>
        <td >
          <p>SB 5.7</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Caitanya Caritamrta</p>
        </td>
        <td >
          <p>Adi Preface</p>
        </td>
        <td >
          <p>CC Adi P</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Adi Introduction</p>
        </td>
        <td >
          <p>CC Adi I</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Madhya 25</p>
        </td>
        <td >
          <p>CC Madhya 25</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Madhya 25.20</p>
        </td>
        <td >
          <p>CC Madhya 25.2</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Madhya 25.142</p>
        </td>
        <td >
          <p>CC Madhya 25.14</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Madhya 25.147-48</p>
        </td>
        <td >
          <p>CC Madhya 25.14</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Adi Lila</p>
          <p>CC Foreword</p>
        </td>
        <td >
          <p>DO NOT COMPILE</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Teachings of Lord Caitanya</p>
        </td>
        <td >
          <p>TLC Introduction</p>
        </td>
        <td >
          <p>TLC In</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>TLC 4: The Wise Man</p>
        </td>
        <td >
          <p>TLC 4</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>TLC 12: The Devotee</p>
        </td>
        <td >
          <p>TLC 1</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Nectar of Devotion</p>
        </td>
        <td >
          <p>NOD Introduction</p>
        </td>
        <td >
          <p>NOD In</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>NoD 21: Qualities of Sri Krsna</p>
        </td>
        <td >
          <p>NOD 2</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>NoD 32: Symptoms of Continuous Love</p>
          <p>Neutrality</p>
        </td>
        <td >
          <p>NOD 32</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Nectar of Instruction</p>
        </td>
        <td >
          <p>NoI verse 4</p>
          <p>TRANSLATION</p>
        </td>
        <td >
          <p>NOI 4</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td>
          <p>NoI verse 4</p>
          <p>PURPORT</p>
        </td>
        <td >
          <p>NOI 4</p>
        </td>
      </tr>
      <tr>
        <td>
          <p></p>
        </td>
        <td >
          <p>NoI verse 11</p>
          <p>TRANSLATION</p>
        </td>
        <td >
          <p>NOI 1</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>NoI verse 11</p>
          <p>PURPORT</p>
        </td>
        <td >
          <p>NOI 1</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Easy Journey to Other Planets</p>
        </td>
        <td >
          <p>EJ Preface</p>
        </td>
        <td >
          <p>EJ</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>EJ 1: Antimaterial Worlds</p>
        </td>
        <td >
          <p>EJ</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Krsna Book</p>
        </td>
        <td >
          <p>KB Introduction</p>
        </td>
        <td >
          <p>KB In</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>KB 3: The Birth of Lord Krsna</p>
        </td>
        <td >
          <p>KB 3</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>KB 41: Krsna Enters Mathura</p>
        </td>
        <td >
          <p>KB 4</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Renunciation Through Wisdom</p>
        </td>
        <td >
          <p>RTW 2: The Science of Devotion</p>
        </td>
        <td >
          <p>RTW</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>RTW Introduction</p>
        </td>
        <td >
          <p>DO NOT COMPILE</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Message of Godhead</p>
        </td>
        <td >
          <p>MoG Introduction</p>
        </td>
        <td >
          <p>MOG</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>MoG 1: Transcendental Knowledge</p>
        </td>
        <td >
          <p>MOG</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Light of the Bhagavata</p>
        </td>
        <td >
          <p>LoB verse 7</p>
        </td>
        <td >
          <p>LOB 7</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>LoB Preface</p>
        </td>
        <td >
          <p>DO NOT COMPILE</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Sri Isopanisad</p>
        </td>
        <td >
          <p>Iso Introduction</p>
        </td>
        <td >
          <p>ISO In</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Iso Invocation</p>
        </td>
        <td >
          <p>ISO In</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Iso mantra 9</p>
        </td>
        <td >
          <p>ISO 9</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>Iso mantra 10</p>
        </td>
        <td >
          <p>ISO 1</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Mukunda-mala-stotra</p>
        </td>
        <td >
          <p>MM mantra 3</p>
          <p>TRANSLATION</p>
        </td>
        <td >
          <p>MM 3</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>MM mantra 3</p>
          <p>PURPORT</p>
        </td>
        <td >
          <p>MM 3</p>
        </td>
      </tr>
      <tr>
        <td class="ref_lookup_book">
          <p>Narada-bhakti-sutra</p>
        </td>
        <td >
          <p>NBS 5</p>
          <p>TRANSLATION</p>
        </td>
        <td >
          <p>NBS 5</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>NBS 5</p>
          <p>PURPORT</p>
        </td>
        <td >
          <p>NBS 5</p>
        </td>
      </tr>
    </table>
    <p></p>
    <p></p>
    <p></p>
    <table>
      <tr>
        <td colspan="2" >
          <p id="ref_lookup_Lectures"><span>2.</span>Lectures</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Vedabase reference sample</p>
        </th>
        <th>
          <p>Type this for search</p>
        </th>
      </tr>
      <tr>
        <td >
          <p>Srimad-Bhagavatam 1.1.1 &ndash; London, August 6, 1971</p>
        </td>
        <td >
          <p>lecture on sb 1.1.1</p>
        </td>
      </tr>
      <tr>
        <td >
          <p></p>
        </td>
        <td >
          <p>london, august 6, 1974</p>
        </td>
      </tr>
    </table>
    <p></p>
    <p></p>
    <p></p>
    <table>
      <tr>
        <td colspan="2" >
          <p id="ref_lookup_Conversations"><span>3.</span>Conversations</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Vedabase reference sample</p>
        </th>
        <th>
          <p>Type this for search</p>
        </th>
      </tr>
      <tr>
        <td >
          <p>Room Conversation &ndash; February 6, 1974, Vrindavana</p>
        </td>
        <td >
          <p>february 6, 1974</p>
        </td>
      </tr>
    </table>
    <p></p>
    <p></p>
    <p></p>
    <table>
      <tr>
        <td colspan="2" >
          <p id="ref_lookup_Correspondence (Letters)"><span>4.</span>Correspondence (Letters)</p>
        </td>
      </tr>
      <tr>
        <th>
          <p>Vedabase reference sample</p>
        </th>
        <th>
          <p>Type this for search</p>
        </th>
      </tr>
      <tr>
        <td >
          <p>Letter to: Bali-mardana, Honolulu May 9, 1972</p>
        </td>
        <td >
          <p>may 9, 1972</p>
        </td>
      </tr>
      <tr>
        <td >
          <p>Letter to: Pope Paul VI, Montreal, 3 August 1968</p>
        </td>
        <td >
          <p>Pope Paul </p>
        </td>
      </tr>
    </table>
  </div>
</div>