<div id="compilation" class="hidden">
  <div id="compile_tools_menu">
    <p id="compile_tools_toggle" class="ui-state-default ui-corner-all" title="Click or press Alt-C/Alt-F to show/hide the compile form and page facts"><span class="ui-icon ui-icon-newwin"></span><span id="compile_tools_toggle_text">Hide Tools</span></p>
    <p id="compile_tools_save" class="ui-state-default ui-corner-all" title="Click or press Ctrl-Shift-S to save"><span class="ui-icon ui-icon-disk"></span><span>Save</span></p>
    <div id="compile_tools_menu_bak" class="ui-corner-left"></div>
  </div>
  <div id="transparent_background" class="ui-widget-overlay"></div>
  <div id="compile_tools">
    <ul>
      <li title="Click or press Alt+C to access the compile form"><a href="#compile_form"><span class="accesskey">C</span>ompile Form</a></li>
      <li title="Click or press Alt+F to access the page facts"><a href="#facts">Page <span class="accesskey">F</span>acts</a></li>
			<li><a href="#compile_help">Help</a></li>
      <div id="compile_tools_buttons">
        <span id="compile_tools_hide" class="ui-icon ui-icon-circle-close" title="Hide"></span>
      </div>
    </ul>
    <div id="compile_form">
      <div id="ref_lookup">
        <div id="ref"></div>
        <div id="ref_lookup_input">
          <%= input_field_tag("link") %><p id="ref_lookup_table_open" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-help"></span></p>
        </div>
      </div>
      <div id="form_buttons">
        <p id="clear_form" class="ui-state-default ui-corner-all"title="Clear form"><span class="ui-icon ui-icon-refresh"></span></p>
        <p id="submit_quote" class="ui-state-default ui-corner-all" title="Submit new quote">Submit</p>
        <span id="prabhupada_icon" title="Insert PrabhupÄda: as the speaker"></span>
      </div>
      <%= text_area_tag() %>
      <span id="version">ver 2.3.2</span>
    </div>
    <div id="facts" class="facts"></div>
		<div id="compile_help">
			<h3><a href="#">Help/Manual</a></h3>
			<div id="help">
				This section will hold a help manual/cheatsheet for compilers.
			</div>
			<h3><a href="#">Themes</a></h3>
			<div id="theme_switcher">
				Now you can change your compile tools theme (looks)!
				Try one from the list.<br/><a href="javascript:void(0)" class="jlthemeswitcher-opener">Click here if you don' see the themes</a>
			</div>
		</div>
    <div id="ajax"></div>
    <div id="verses"></div>
  </div>
  <div id="warning" class="ui-state-error ui-corner-all"></div>
  <div id="warning_overlay" class="ui-corner-bl"></div>
  <div id="info" class=" ui-state-highlight ui-corner-all"></div>
  <div id="ref_lookup_table" style="display: none;"></div>
  <div id="login_form" style="display: none;"></div>
</div>