<div id="compilation" class="hidden">
  <div id="compile_tools_menu">
    <p id="compile_tools_toggle" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span><span id="compile_tools_toggle_text">Hide Tools</span></p>
    <p id="compile_tools_save" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-disk"></span><span>Save</span></p>
    <div id="compile_tools_menu_bak" class="ui-corner-left"></div>
  </div>
  <div id="transparent_background" class="ui-widget-overlay"></div>
  <div id="compile_tools">
    <ul>
      <li><a href="#compile_form">Compile Form</a></li>
      <li><a href="#facts">Page Facts</a></li>
      <div id="compile_tools_buttons">
        <span id="compile_tools_hide" class="ui-icon ui-icon-circle-close" title="Hide"></span>
      </div>
    </ul>
    <div id="compile_form">
      <div id="ref_lookup">
        <div id="ref"></div>
        <div id="ref_lookup_input">
          <%= input_field_tag("link") %><p id="ref_lookup_table_open" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-help"></span></p>
        </div>
      </div>
      <div id="form_buttons">
        <p id="clear_form" class="ui-state-default ui-corner-all"title="Clear form"><span class="ui-icon ui-icon-refresh"></span></p>
        <p id="submit_quote" class="ui-state-default ui-corner-all" title="Submit new quote">Submit</p>
        <div id="form_text"><span>Copy new quote by clicking </span><div id="veda_img" title="copy with ref"></div><span>in Vedabase and paste it here</span></div>
      </div>
      <%= text_area_tag() %>
      <span id="version">ver 2.1.1</span>
    </div>
    <div id="facts" class="facts"></div>
    <div id="ajax"></div>
    <div id="verses"></div>
  </div>
  <div id="warning" class="ui-state-error ui-corner-all"></div>
  <div id="warning_overlay"></div>
  <div id="info" class=" ui-state-highlight ui-corner-all"></div>
  <div id="ref_lookup_table" style="display: none;"></div>
  <div id="login_form" style="display: none;"></div>
</div>