<div style="border: 1px solid rgb(170, 170, 170); padding: 2px; margin-top: 15px;" class="plainlinks" id="editpage-specialchars">
<p><small><b>Wiki markup:</b> <a href="#" onclick="insertTags('[[Category:',']]','');return false">[[Category:]]</a>
</small></p>
<hr/>
<p><small><b>Diacritics:</b>
<a href="#" onclick="insertTags('Ā','','');return false">Ā</a>
<a href="#" onclick="insertTags('Ī','','');return false">Ī</a>
<a href="#" onclick="insertTags('Ū','','');return false">Ū</a>
<a href="#" onclick="insertTags('Ṛ','','');return false">Ṛ</a>
<a href="#" onclick="insertTags('Ṝ','','');return false">Ṝ</a>
<a href="#" onclick="insertTags('Ṅ','','');return false">Ṅ</a>
<a href="#" onclick="insertTags('Ṣ','','');return false">Ṣ</a>
<a href="#" onclick="insertTags('Ñ','','');return false">Ñ</a>
<a href="#" onclick="insertTags('Ṭ','','');return false">Ṭ</a>
<a href="#" onclick="insertTags('Ḍ','','');return false">Ḍ</a>
<a href="#" onclick="insertTags('Ṇ','','');return false">Ṇ</a>
<a href="#" onclick="insertTags('Ś','','');return false">Ś</a>
<a href="#" onclick="insertTags('Ẏ','','');return false">Ẏ</a>
<a href="#" onclick="insertTags('Ṁ','','');return false">Ṁ</a>
<a href="#" onclick="insertTags('Ḥ','','');return false">Ḥ</a>
<a href="#" onclick="insertTags('Ḷ','','');return false">Ḷ</a>   <a href="#" onclick="insertTags('ā','','');return false">ā</a>
<a href="#" onclick="insertTags('ī','','');return false">ī</a>
<a href="#" onclick="insertTags('ū','','');return false">ū</a>
<a href="#" onclick="insertTags('ṛ','','');return false">ṛ</a>
<a href="#" onclick="insertTags('ṝ','','');return false">ṝ</a>
<a href="#" onclick="insertTags('ṅ','','');return false">ṅ</a>
<a href="#" onclick="insertTags('ṣ','','');return false">ṣ</a>
<a href="#" onclick="insertTags('ñ','','');return false">ñ</a>
<a href="#" onclick="insertTags('ṭ','','');return false">ṭ</a>
<a href="#" onclick="insertTags('ḍ','','');return false">ḍ</a>
<a href="#" onclick="insertTags('ṇ','','');return false">ṇ</a>
<a href="#" onclick="insertTags('ś','','');return false">ś</a>
<a href="#" onclick="insertTags('ẏ','','');return false">ẏ</a>
<a href="#" onclick="insertTags('ṁ','','');return false">ṁ</a>
<a href="#" onclick="insertTags('ḥ','','');return false">ḥ</a>
<a href="#" onclick="insertTags('ḷ','','');return false">ḷ</a>
<a href="#" onclick="insertTags('ḹ','','');return false">ḹ</a>
</small></p>
<small/></div>