#compilation.hidden {
    display: none;
}
#compile_tools {
    height: auto;
    max-height:370px;
    padding: 4px;
    position:fixed;
    left: 30%;
    top: 25%;
    width: 45%;
    z-index:100;
    font-size: 0.8em;
    border: 2px solid #C3C9F2;
}

#compile_tools_buttons {
	position: relative;
	float: right;
}
#compile_tools_buttons span {
 position: relative;
	float: left;
	cursor: pointer;
}

#compile_tools_menu {
 width: 100px;
 height: 70px;
 position: fixed;
 right: 0px;
 top: 40px;
 z-index: 100;
 font-size: 0.8em;
 font-weight: bold;
}
#compile_tools_menu_bak {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
    position: relative;
    top: -73px;
    z-index:-1;
}
#compile_tools_menu p {
    padding: 3px 0px;
    width: 90px;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

#compile_tools_menu p span.ui-icon {
 position: relative;
 float: left;
 margin: 0px 4px;
 display: block;
}

#wait {
  position: fixed;
  width:  65%;
  height: 200px;
  left: 23%;
  text-align: center;
  z-index:201;
}
#wait_bak {
  top: inherit;
  height:   inherit;
  opacity:  0.8;
  background: black;
  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
}
#wait #wait_img{
  background-image: url("images/loading.gif");
  background-repeat: no-repeat;
  position:   relative;
  height: 25px;
  width: 125px;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
}
#wait > #wait_msg {
  color:      white;
  display:    inline;
  font-family:Georgia;
  font-size:  1.5em;
  position:   relative;
  top:        40%;
  z-index:    201;
}

#warning {
  display:none;
  position: fixed;
  top: 35%;
  left: 35%;
  width: 35%;
  min-height: 5%;
  font-size: medium;
  text-align: center;
  z-index:201;
}

#warning p {
 padding: 5px;
}
#warning span {
  float:left;
  margin:0 2px;
  position:relative;
  top:4px;
}

#info {
  display:none;
  position: fixed;
  top: 35%;
  left: 35%;
  width: 35%;
  min-height: 5%;
  font-size: medium;
  text-align: center;
  z-index:201;
}
#info p {
 padding: 5px;
}
#info span {
  float:left;
  margin:0 2px;
  position:relative;
  top:4px;
}

#ajax {
  display: none;
  background-image: url("images/ajax-loader.gif");
  background-repeat: no-repeat;
  position: fixed;
  top: 55%;
  left: 55%;
  z-index: 200;
}
#verses {
  display: none;
}
#p-search {
	z-index: 1;
}
.compile_tools_transfer {
  border: 2px dotted gray;
  z-index: 200;
}
#background_overlay, #warning_overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:199;
	background:black;
}
#background_overlay {
	opacity: 0.8;
}
#warning_overlay {
	opacity: 0.7;
}
#transparent_background {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  z-index:99;
}

#ca-talk { display:none!important; }
#ca-protect { display:none!important; }
#ca-watch { display:none!important; }

#progressbar {
	position: fixed;
	z-index: 200;
	width: 30%;
	top: 30%;
	left: 35%;
	background: none;
}

#progressbar > div {
	font-size: 1.5em;
	text-align: left;
	padding: 0px 10px;
	white-space: nowrap;
}

#login_form form label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}
#login_form form input {
    margin-left: 4.5em;
}
span.accesskey {
  text-decoration: underline;
}