div#compile_form {
  padding:    20px;
  height:     220px;
  overflow:   hidden;
}

div#compile_form #ref_lookup {
  display: none;
  float: left;
  width: 98%;
}
div#compile_form #ref_lookup #ref {
	width: 100%;
}
div#compile_form #ref_lookup_input {
  float: left;
  width: 100%;
  margin: 10px 0px;
}

div#compile_form #ref_lookup #ref_lookup_input #link {
  width: 89%;
  float: left;
}
div#compile_form #ref_lookup #ref_lookup_table_open {
  float: left;
  margin: 0px 10px;
  cursor: pointer;
}

div#compile_form div#form_buttons {
  float: left;
  width: 100%;
}
div#compile_form div#form_buttons #copy_ref_button {
  background-image: url("images/copy_ref_button.png");
  background-repeat: no-repeat;
  width: 100%;
}
div#compile_form > div#form_buttons > span#prabhupada_icon {
  background-image: url("images/prabhupada_icon.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 4px; -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 4px;
  right: 1%;
	top: -5px;
  cursor: pointer;
}

div#compile_form textarea {
	float: left;
  height: 170px;
  width:  99%;
  background-image:     url("images/vaniquotes-logo-bg.png");
  background-repeat:    no-repeat;
  background-position:  center;
}
div#compile_form #form_text * {
 float: left;
 margin: 0px 2px;
}
div#compile_form #form_text #veda_img  {
	display: block;
	width: 25px;
	height: 24px;
	background: url("images/copy_ref_button.png");
	position: relative;
	top: -6px;
}
div#compile_form #submit_quote, div#compile_form #clear_form {
  position: relative;
  float: right;
  margin: 0px 2px;
  cursor: pointer;
}

div#compile_form #submit_quote {
  padding: 2px 4px;
}

div#compile_form #clear_form {
  padding: 1px;
}

div#compile_form #version {
  position: relative;
  float: right;
  font-size: 0.7em;
}

.link_suggest_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.link_suggest_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.link_suggest_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

#ref_lookup_table {
		display: none;
  max-height: 400px;
		padding: 6px;
}
#ref_lookup_table table {
background: transparent;
}
#ref_lookup_table table tr {
background: #C3C9F2;
}
#ref_lookup_table table tr td {
 padding: 6px;
}
#ref_lookup_table table tr .ref_lookup_book {
		font-weight: bold;
}