div#compilation.hidden {
  display: none;
}
div#compilation > div#compile_tools {
  height: auto;
  max-height:370px;
  padding: 4px;
  position:fixed;
  left: 30%;
  top: 25%;
  width: 45%;
  z-index:100;
  font-size: 0.8em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px; -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
  background-image: -moz-radial-gradient(0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
}

div#compile_tools > div.ui-accordion {
	width: 95%;
}

div#compilation > div#compile_tools > ul > div#compile_tools_buttons {
	position: relative;
	float: right;
}
div#compilation > div#compile_tools > ul > div#compile_tools_buttons > span {
 position: relative;
	float: left;
	cursor: pointer;
}

div#compilation > div#compile_tools #compile_help {
	height:     220px;
	overflow:   hidden;
}

div#compilation > div#compile_tools_menu {
  width: 100px;
  height: 70px;
  position: fixed;
  right: 0px;
  top: 40px;
  z-index: 100;
  font-size: 0.8em;
  font-weight: bold;
}
div#compilation > div#compile_tools_menu > div#compile_tools_menu_bak {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.75;
  position: relative;
  top: -73px;
  z-index:-1;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 6px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
  background-image: -moz-radial-gradient(0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
}
div#compilation > div#compile_tools_menu > p {
    padding: 3px 0px;
    width: 90px;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

div#compilation > div#compile_tools_menu > p > span.ui-icon {
 position: relative;
 float: left;
 margin: 0px 4px;
 display: block;
}

div#compilation > div#warning {
  display:none;
  position: fixed;
  top: 8px;
  right: 25px;
  width: 35%;
  min-height: 5%;
  font-size: small;
  text-align: center;
  z-index:201;
}

div#compilation > div#warning > p {
 padding: 5px;
}

div#compilation > div#warning > p > span {
  float:left;
  margin:0 2px;
  position:relative;
  top:4px;
}

div#compilation > div#info {
  display:none;
  position: fixed;
  top: 35%;
  left: 35%;
  width: 35%;
  min-height: 5%;
  font-size: medium;
  text-align: center;
  z-index:201;
}

div#compilation > div#info p {
 padding: 5px;
}

div#compilation > div#info span {
  float:left;
  margin:0 2px;
  position:relative;
  top:4px;
}

div#compilation > div#compile_tools > div#ajax {
  display: none;
  background-image: url("images/ajax-loader.gif");
  background-repeat: no-repeat;
  position: fixed;
  top: 55%;
  left: 55%;
  z-index: 200;
}
div#compilation > div#compile_tools > div#verses {
  display: none;
}
#p-search {
	z-index: 1;
}
div#compilation > div.compile_tools_transfer {
  border: 2px dotted gray;
  z-index: 200;
}

body div#background_overlay, div#compilation > div#warning_overlay {
	position:fixed;
	top:0;
	right:0;
	width:40%;
	height:100px;
	display:none;
	z-index:199;
	background:black;
}
body div#background_overlay {
	opacity: 0.8;
	height:40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 6px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
  background-image: -moz-radial-gradient(0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
}
div#compilation > div#warning_overlay {
	opacity: 0.7;
}
div#compilation > div#transparent_background {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  z-index:99;
}

div.pBody > ul > li#ca-talk , div.pBody > ul > li#ca-protect, div.pBody > ul > li#ca-watch  { display:none!important; }

body > div#progressbar {
	position: fixed;
	z-index: 200;
	width: 30%;
	top: 8px;
	right: 45px;
	background: none;
}

body > div#progressbar > div {
	font-size: 1.5em;
	text-align: left;
	padding: 0px 10px;
	white-space: nowrap;
}

div#compilation > div#login_form form label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}
div#compilation > div#login_form form input {
    margin-left: 4.5em;
}

div#compilation span.accesskey {
  text-decoration: underline;
}