#compilation.hidden {
  display: none;
}
#compile_tools {
height: auto;
max-height:370px;
padding: 4px;
position:fixed;
left: 30%;
width: 50%;
z-index:100;
font-size: smaller;
}
#compile_tools.compile_tools_fixed {
position: static;
z-index: 0;
}
#compile_tools_buttons {
	position: relative;
	float: right;
}
#compile_tools_buttons span {
 position: relative;
	float: left;
	cursor: pointer;
}
#compile_tools_buttons #compile_tools_float {
  display: none;
}
#compile_tools.compile_tools_fixed #compile_tools_float {
  display: block;
}
#compile_tools.compile_tools_fixed #compile_tools_fix {
 display: none;
}

#compile_tools_menu {
 width: 120px;
 height: 70px;
 position: fixed;
 right: 0px;
 top: 40px;
 z-index: 100;
 font-size: x-small;
}
#compile_tools_menu_bak {
width: 100%;
height: 100%;
background: black;
opacity: 0.8;
position: relative;
top: -70px;
z-index:-1;
}
#compile_tools_menu p {
padding: 3px 0px;
width: 110px;
position: relative;
margin: 8px auto;
cursor: pointer;
}
#compile_tools_menu a {
padding:0.4em 1em 0.4em 4px;
color: #DEE2F9;
text-decoration:none;
}
#compile_tools_menu a span {
 position: relative;
 float: left;
 margin: 0px 4px;
 display: block;
}

#loading {
  position: fixed;
  width:  65%;
  height: 200px;
  left: 23%;
  text-align: center;
  z-index:201;
}
#loading_bak {
  top: inherit;
  height:   inherit;
  opacity:  0.8;
  background: black;
  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
}
#loading #loading_img{
  background-image: url("images/loading.gif");
  background-repeat: no-repeat;
  position:   relative;
  height: 25px;
  width: 125px;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
}
#loading > #loading_text {
  color:      white;
  display:    inline;
  font-family:Georgia;
  font-size:  medium;
  position:   relative;
  top:        40%;
  z-index:    201;
}

#warning {
  display:none;
  position: fixed;
  top: 35%;
  left: 35%;
  width: 35%;
  min-height: 5%;
  font-size: medium;
  text-align: center;
  z-index:201;
}

#warning p {
 padding: 5px;
}
#warning span {
  float:left;
  margin:0 2px;
  position:relative;
  top:4px;
}

#ajax {
  display: none;
  background-image: url("images/ajax-loader.gif");
  background-repeat: no-repeat;
  position: fixed;
  top: 55%;
  left: 55%;
  z-index: 200;
}
#verses {
  display: none;
}
#p-search {
	z-index: 1;
}
#p-cactions li.selected a {
	z-index: 1;
}
.compile_tools_transfer {
  border: 2px dotted gray;
  z-index: 200;
}
#darken {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:199;
	background:black;
	opacity:0.7;
}
#transparent_background {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  z-index:99;
}