div#bodyContent > div#compilation div.deleted_quote, div#bodyContent > div#compilation div.deleted_quote:hover {
  padding: 4px;
}
div#bodyContent > div#compilation div.deleted_quote > div.deleted_quote_msg {
	display: table-row;
}
div#bodyContent > div#compilation div.deleted_quote > div.deleted_quote_msg > span:not(.ui-icon) {
	float: left;
	padding: 4px;
}
div#bodyContent > div#compilation div.deleted_quote > div.deleted_quote_msg > .ui-icon {
	margin: 4px 6px 4px 2px;
	float: right;
	cursor:pointer;
	border: 1px solid;
}
