div#bodyContent > div#compilation div.quote.edit_quote, div#bodyContent > div#compilation div.quote.edit_quote:hover {
  background: #C3C9F2;
  padding: 8px 4px;
  border: 2px solid #C3C9F2;
  margin: 8px 0px;
  position: relative;
  left: -6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}
div#bodyContent > div#compilation .edit_quote label {
  color:#747184;
  font-family:tahoma;
  font-style:italic;
  font-weight:bold;
  position:relative;
  left:6px;
}
div#bodyContent > div#compilation .edit_quote > #link_text {
  position: relative;
  float: right;
  right: 5%;
  margin: 2px;
  padding:4px;
		cursor: pointer;
}
div#bodyContent > div#compilation .edit_quote > #fix_link {
		display: none;
}
div#bodyContent > div#compilation .edit_quote #fix_link_input {
    width: 500px;
}
div#bodyContent > div#compilation .edit_quote > input#heading, div#bodyContent > div#compilation .edit_quote > textarea {
  color: #62326D;
  padding: 4px;
  margin: 4px;
  width: 95%;
  font-family: tahoma;
}
div#bodyContent > div#compilation .edit_quote > input#heading {
  font-size: small;
}
div#bodyContent > div#compilation .edit_quote #edit_buttons {
    float: left;
}
div#bodyContent > div#compilation .edit_quote #Cancel_quote, div#bodyContent > div#compilation .edit_quote #Update_quote {
 cursor: pointer;
 padding: 3px;
}

div#bodyContent > div#compilation .edit_quote #prabhupada_icon {
  background-image: url("images/prabhupada_icon.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  position: relative;
  float: right;
  border: #3F4C9D solid;
  border-width: 1px 2px 2px 1px;
  right: 1%;
  cursor: pointer;
}
div#bodyContent > div#compilation .edit_quote #diacritics {
    position: relative;
    float: right;
    right: 1%;
    margin: 0px 10px;
}
div#bodyContent > div#compilation .edit_quote #diacritics #diacritics_toggle:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #3F4C9D;
}
div#bodyContent > div#compilation .edit_quote #diacritics p {
	display: none;
}

div#bodyContent > div#compilation .edit_quote #diacritics a {
	border: 1px transparent solid;
	padding: 2px;
}
div#bodyContent > div#compilation .edit_quote #diacritics a:hover {
	text-decoration: none;
  border: #3F4C9D solid;
  border-width: 2px 1px;
}