/*jquery-ui overrides*/
.ui-autocomplete {
	position: fixed;
}
.ui-accordion {
	width: 95%;
}

#facts {
height: 320px;
overflow: hidden;
}
/*
#facts li:nth-child(odd) {
	background-color: #eee;
}
#facts li:nth-child(even) {
	background-color: #fff;
}
*/
#facts > div > div {
padding: 4px 2px;
}
#facts > div > ul > li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 0 -20px;
padding: 4px 8px;
}
#complete .check_div, #totals_by_section > div {
float:left;
margin-right:8px;
position:relative;
}

#facts .facts_tools > div {
	display: table;
	width: 100%
}

#facts .facts_tools > div > label {
	width: 15%;
	margin: 6px 2px;
	float: left;
}
#facts .facts_tools > div > input {
	margin: 6px 6px 0px 6px;
	float: left;
	width: 65%;
}
#facts .facts_tools > div > .add {
	width: 85%;
	color: #D2C1F2;
	font-size: 1.1em;
	font-weight: bold;
}
#facts .facts_tools > div > span {
	margin: 4px;
	float: left;
	cursor:pointer;
}
#facts #terms_tools #copy_terms_man {
  display: none;
}

#facts #categories .facts_sortable_placeholder {
  border: dashed 3px;
}
#facts .fact {
	max-height: 250px;
}

