.quote {
	background: none;
	border: 2px solid white;
	padding: 4px;
  margin: 10px 0px;
 position: relative;
 left: -6px;
 width: 97%;
 overflow: auto;

}
.quote:hover {
	background: #FFFEC6;
	border: 2px solid #A68940;
	padding: 4px;
}
.quote .highlight_terms {
    background: #EEE8AA;
    padding: 0px 1px;
}
.quote:hover .highlight_terms {
 background: #D2C1F2;
 padding: 0px 1px;
}
.quote > div {
 margin: 6px 2px;
}

.heading, .trans, .link {
 font-weight: bold;
}
.heading {
 color: #296F39;
}
.trans, .purport {
 margin: 8px 0px 0px 0px;
}

.quote .status_text {
	display: none;
	position: relative;
	float: right;
	color: red;
	font-style: italic;
}

.q_updated .status_text {
	display: block;
}
.q_updated .status_text:after {
	content: 'Updated!';
}

.q_updated .undo_quote {
	display: block;
}

/* q_menu section */
.q_menu {
 background: transparent;
 position: relative;
 float: right;
 border: 2px solid transparent;
 padding: 2px;
 margin: 2px;
 width: 100px;
}

.quote:hover .q_menu {
	background: #D2C1F2;
  border: 1px solid #603F9D;
  padding: 2px;
  text-align: left;
  -moz-border-radius-bottomright:15px;
  -moz-border-radius-topright:15px;
  z-index: 2;
}
.quote:hover .q_tools, .quote:hover .tips {
 visibility: visible;
}

.undo_quote, .del_quote {
 position: relative;
 float: right;
 padding: 2px;
 cursor:pointer;
 width: 18px;
 height: 18px;
}
.undo_quote:hover img, .del_quote:hover img {
	position: relative;
	width: 18px;
	height: 18px;
 top: -1px;
 left: -1px;
}

.undo_quote {
	display: none;
}
.q_tools, .q_tips .tips {
 visibility: hidden;
 margin: 2px 0px;
 padding: 2px;
}
.q_tips input {
 cursor: pointer;
 font-size: 0.8em;
}

.q_tips > div {
  display: none;
  margin-left: 10px;
}
.alert_tip {
	display: none;
}
.building_quote, .building_quote:hover {
 background: white;
 border: 25px solid #3F4C9D;
 padding: 25px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 position: relative;
 width: 85%;
 z-index: 2;
background-image: url(/images/Vaniquotes-logo-small2.png);
 background-repeat: no-repeat;
 background-position: center;
}

.building_quote .q_menu {
    background: #D2C1F2;
    border: 1px solid #603F9D;
    padding: 2px;
    text-align: left;
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-topright:15px;
    z-index: 2;
}

.building_quote .q_menu * {
 visibility: visible;
}

/* hide double background */
.building_quote table {
 background: none;
}
.building_quote .status_text {
 display: block;
}
.q_new .status_text {
	display: block;
}
.q_new .status_text:after {
	content: 'Inserted!';
}

.q_bad_section .q_menu .tips {
 visibility: visible;
}

.q_bad_section .tips .edit_section_tip {
 background: url(/images/pulsating_red.gif);
}
#alert_tip > input {
text-align: center;
margin: 2px 0px;
padding: 2px;
}

#alert_tip > span {
 font-weight: bold;
 color: #603F9D;
}