
div#bodyContent > div#compilation div.quote {
	background: none;
	border: 2px solid white;
	padding: 4px;
    margin: 10px 0px;
    position: relative;
    left: -6px;
    width: 97%;
    overflow: auto;
}
div#bodyContent > div#compilation div.quote:hover {
	background: #FFFEC6;
	border: 2px solid #A68940;
	padding: 4px;
}
div#bodyContent > div#compilation div.quote .highlight_terms {
    background: #EEE8AA;
    padding: 0px 1px;
}
div#bodyContent > div#compilation div.quote:hover .highlight_terms {
 background: #D2C1F2;
 padding: 0px 1px;
}
div#bodyContent > div#compilation div.quote > div {
 margin: 6px 2px;
}

div#bodyContent > div#compilation div.quote >.heading, div#bodyContent > div#compilation div.quote > .trans, div#bodyContent > div#compilation div.quote > .link {
 font-weight: bold;
}
div#bodyContent > div#compilation div.quote > .heading {
 color: #296F39;
}
div#bodyContent > div#compilation div.quote > .trans, div#bodyContent > div#compilation div.quote > .purport {
 margin: 8px 0px 0px 0px;
}

div#bodyContent > div#compilation div.quote .status_text {
	display: none;
	position: relative;
	float: right;
	color: red;
	font-style: italic;
}

div#bodyContent > div#compilation div.quote.q_updated div.status_text {
	display: block;
}
div#bodyContent > div#compilation div.quote.q_updated div.status_text:after {
	content: 'Updated!';
}

div#bodyContent > div#compilation div.quote.q_updated .undo_quote {
	display: block;
}

/* q_menu section */
div#bodyContent > div#compilation div.quote > div.q_menu {
 background: transparent;
 position: relative;
 float: right;
 border: 1px solid transparent;
 padding: 2px;
 margin: 2px;
 visibility: hidden;
}

div#bodyContent > div#compilation div.quote > div.q_menu > div {
  position: relative;
  float: left;
}

div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools {
  width: 18px;
}

div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tips {
  width: 100px;
}

div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tips input {
  width: 100%;
  padding: 4px;
  cursor: pointer;
  font-size: 0.8em;
}

div#bodyContent > div#compilation div.quote:hover div.q_menu {
	background: #D2C1F2;
  border: 1px solid #603F9D;
  padding: 2px;
  text-align: left;
  -moz-border-radius-bottomright:15px;
  -moz-border-radius-topright:15px;
  z-index: 2;
  visibility: visible;
}

div#bodyContent > div#compilation div.quote:hover .q_tools, .quote:hover .tips {
 visibility: visible;
}


/* undo_quote section */
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div.undo_quote, div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div.del_quote, div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div.candidate_quote {
 position: relative;
 padding: 2px;
 cursor:pointer;
 width: 18px;
 height: 18px;
}
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div.undo_quote:hover img, div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div.del_quote:hover img {
	position: relative;
	width: 18px;
	height: 18px;
 top: -1px;
 left: -1px;
}

.undo_quote {
	display: none;
}

/* Building_quote section */
div#bodyContent > div#compilation div.quote.building_quote, div#bodyContent > div#compilation div.quote.building_quote:hover {
 background: white;
 border: 25px solid #3F4C9D;
 padding: 25px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 position: relative;
 width: 85%;
 z-index: 2;
 background-image: url(/images/Vaniquotes-logo-small2.png);
 background-repeat: no-repeat;
 background-position: center;
}

div#bodyContent > div#compilation div.quote.building_quote > div.q_menu {
    background: #D2C1F2;
    border: 1px solid #603F9D;
    padding: 2px;
    text-align: left;
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-topright:15px;
    z-index: 2;
}

div#bodyContent > div#compilation div.quote.building_quote > div.q_menu {
 visibility: visible;
}

div#bodyContent > div#compilation div.quote.building_quote div.status_text {
 display: block;
}

div#bodyContent > div#compilation div.quote.q_new div.status_text {
	display: block;
}
div#bodyContent > div#compilation div.quote.q_new div.status_text:after {
	content: 'Inserted!';
}
div#bodyContent > div#compilation div.quote.building_quote div.status_text:after {
  content: 'New!'
}

div#bodyContent > div#compilation div.quote.q_bad_section > div.q_menu input.tips {
 visibility: visible;
}

.q_bad_section .tips .edit_section_tip {
 background: url(/images/pulsating_red.gif);
}

/* alert_tip section */
div#bodyContent > div#compilation div.quote div#alert_tip {
	display: none;
}

div#bodyContent > div#compilation div.quote div#alert_tip > span {
 font-weight: bold;
 color: #603F9D;
}

div#bodyContent > div#compilation div.quote .bad_link {
		background:url(images/red-alert.gif);
		padding:2px 4px;
}
