div#bodyContent > div#compilation div.quote {
	border: 1px solid transparent;
	padding: 4px;
  margin: 10px 0px;
  position: relative;
  left: -6px;
  width: 97%;
  overflow: auto;
	font-weight: normal;
}
div#bodyContent > div#compilation div.quote:hover {
	border: 1px solid grey;
	padding: 4px;
}
div#bodyContent > div#compilation div.quote .ui-state-highlight {
    background-color: #EEE8AA;
    padding: 0px 1px;
}

div#bodyContent > div#compilation div.quote > div {
 margin: 6px 2px;
}
div#bodyContent > div#compilation div.quote >.heading, div#bodyContent > div#compilation div.quote > .trans, div#bodyContent > div#compilation div.quote > .link {
 font-weight: bold;
}
div#bodyContent > div#compilation div.quote > .heading {
 color: none;
}
div#bodyContent > div#compilation div.quote > .trans, div#bodyContent > div#compilation div.quote > .purport {
 margin: 8px 0px 0px 0px;
}
div#bodyContent > div#compilation div.quote .status_text {
	display: none;
	position: relative;
	float: right;
	color: red;
	font-style: italic;
}
div#bodyContent > div#compilation div.quote.q_updated > div.q_menu > div.q_tips > div.status_text {
	display: block;
  width: 100%;
}
div#bodyContent > div#compilation div.quote.q_updated > div.q_menu > div.q_tips > div.status_text:after {
	content: 'Updated!';
}
div#bodyContent > div#compilation div.quote.q_updated > div.q_menu > div.q_tools > div.undo_quote {
	display: block;
}

/* q_menu section */
div#bodyContent > div#compilation div.quote > div.q_menu {
 background: transparent;
 position: relative;
 float: right;
 border: 1px solid transparent;
 padding: 2px;
 visibility: hidden;
}
div#bodyContent > div#compilation div.quote > div.q_menu > div {
  position: relative;
  float: left;
}
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools {
  width: 18px;
  margin: 2px 4px;
}
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div {
  margin: 8px 0px;
  cursor: pointer;
}
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tips {
  width: 100px;
}
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tips input {
  width: 100%;
  padding: 4px;
  cursor: pointer;
  font-size: 0.8em;
	margin: 0.5px;
}
div#bodyContent > div#compilation div.quote:hover div.q_menu {
/*	background: #D2C1F2;*/
/*  border: 1px solid #603F9D;*/
  padding: 2px;
  text-align: left;
  -moz-border-radius-bottomright:15px;
  -moz-border-radius-topright:15px;
  z-index: 2;
  visibility: visible;
}
div#bodyContent > div#compilation div.quote:hover > div.q_menu *{
 visibility: visible;
}

/* undo_quote section */
div#bodyContent > div#compilation div.quote > div.q_menu > div.q_tools > div.undo_quote {
	display: none;
}

/* Building_quote section */
div#bodyContent > div#compilation div.quote.building_quote, div#bodyContent > div#compilation div.quote.building_quote:hover {
/*  background: white;*/
/*  border: 25px solid #3F4C9D;*/
-webkit-border-radius: 10px; -moz-border-radius: 10px;
  padding: 25px;
  position: relative;
  width: 85%;
  z-index: 2;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px; -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
  background-image: -moz-radial-gradient(0% 0%, 0% 100%, from(#666), color-stop(0.02, #1F1F1F), color-stop(0.5, #212121), color-stop(0.51, #1A1A1A), to(black));
}
div#bodyContent > div#compilation div.quote.building_quote > div.q_menu {
/*  background: #D2C1F2;*/
/*  border: 1px solid #603F9D;*/
  padding: 2px;
  text-align: left;
  -moz-border-radius-bottomright:15px;
  -moz-border-radius-topright:15px;
  z-index: 2;
}
div#bodyContent > div#compilation div.quote.building_quote > div.q_menu {
  visibility: visible;
}
div#bodyContent > div#compilation div.quote.building_quote div.status_text {
 display: block;
}
div#bodyContent > div#compilation div.quote.q_new div.status_text {
	display: block;
}
div#bodyContent > div#compilation div.quote.q_new div.status_text:after {
	content: 'Inserted!';
}
div#bodyContent > div#compilation div.quote.building_quote div.status_text:after {
  content: 'New!'
}
div#bodyContent > div#compilation div.quote.building_quote.deleted_quote {
	background: none;
	border: none;
  padding: 4px;
}

/* quote_bad_section */
div#bodyContent > div#compilation div.quote.q_bad_section > div.q_menu input.tips {
 visibility: visible;
}
div#bodyContent > div#compilation div.q_bad_section input.tips input.edit_section_tip {
 background: url(/images/pulsating_red.gif);
}

/* alert_tip section */
div#bodyContent > div#compilation div.quote div#alert_tip {
	display: none;
}
div#bodyContent > div#compilation div.quote div#alert_tip > span {
	font-weight: bold;
}
div#bodyContent > div#compilation div.quote .bad_link {
	background:url(images/red-alert.gif);
	padding:2px 4px;
}
