<div id="compile_form">
  <label>Paste a new quote here. Don't forget to "copy with Reference" by clicking on the button in Vedabase.</label>
  <%= text_area_tag('new_quote_text', quote.text) %>
</div>