<div class="deleted_quote_msg ui-corner-all">
  <span><%= deleted.link_text %> has been deleted. Click here to undo </span><span class="undo_del_quote ui-icon ui-icon-arrowreturnthick-1-w ui-state-default" />
</div>