<span><%= message %></span><br/>
<input type="button" id="heading_edit" class="alert_tip_heading_set ui-state-default ui-corner-all" value="Edit" title="Edit current heading" /><br />
<input type="button" id="heading_create"  class="alert_tip_heading_set ui-state-default ui-corner-all" value="Create" title="Create a new heading" /><br />
