<span><%= message %></span>
<input type="button" id="heading_create"  class="alert_tip_heading_set ui-state-default ui-corner-all" value="Auto" title="Create heading automagically" />
<input type="button" id="heading_edit" class="alert_tip_heading_set ui-state-default ui-corner-all" value="Manually" title="Edit heading manually" />
