<span><%= message %></span><br/>
<input type="button" id="heading_set"     class="alert_tip_heading_set ui-state-default ui-corner-all" value="Set" title="Set highlighted text as the new heading"/>
<input type="button" id="heading_append"  class="alert_tip_heading_set ui-state-default ui-corner-all" value="Append" title="Append highlighted text to the current heading" />
<input type="button" id="heading_new"     class="alert_tip_heading_set ui-state-default ui-corner-all" value="New" title="Create a blank heading to set manually" />