<span>Selected text is a:</span><br/>
<input type="button" id="heading_select" class="alert_tip_heading_or_verse ui-state-default ui-corner-all" value="Heading" /><br/>
<input type="button" id="verse_select"   class="alert_tip_heading_or_verse ui-state-default ui-corner-all" value="Verse" /><br/>
