<span>Choose a section</span>
<%= input_field_tag('trans', 'Translation', 'button', {class: 'ui-state-default ui-corner-all'}) %>
<%= input_field_tag('purport', 'puRport', 'button', {class: 'ui-state-default ui-corner-all'}) %>
<%= input_field_tag('trans_purport', 'trans aNd purport', 'button', {class: 'ui-state-default ui-corner-all'}) %>
