<span>Choose a section for this quote</span><br/>
<%= input_field_tag('trans', 'Translation', 'button', {class: 'ui-state-default ui-corner-all'}) %>
<%= input_field_tag('purport', 'Purport', 'button', {class: 'ui-state-default ui-corner-all'}) %>
<%= input_field_tag('trans_purport', 'Trans and Purport', 'button', {class: 'ui-state-default ui-corner-all'}) %>
